  <!--<div class="addPeople grids">-->
    <!--<div class="infoMessage"></div>-->
    <!--<div class="teamApisListFilter filterLayer">-->
      <!--<input type="text" size="47" data-list=".profilesList &gt; li.item-card.list-item" data-fresh="1" data-playevents="1" data-childs=".userName" data-toggle-class="hidden" class="filterInput teamApisListFilterInput" placeholder="Search Category">-->
    <!--</div>-->
  <!--</div>-->

  <div>
    <br>
    <ul data-menu=".organisationsGridMenu" class="profilesList item-card category-card list grids">
      <a href="#projects/{{tag.name}}" ng-repeat="tag in tags | orderBy:predicate">
        <li class="item-card category-card list-item">
        <span class="link">{{tag.name}}</span><span class="badgeLike">{{tag.count}}</span>
        </li>
      </a>
    </ul>
  </div>
