<div class="teamApisListWrap"><div class="panelLike organisationsGridLike">
<div class="teamSettings">

<form action="https://login.apiary.io/organisations/manage/544505122aacbe020000001c/settings/edit" method="post" class="grids">
<input type="hidden" name="_csrf" value="KYO94totqs/GbjsydOzo3SVWk7aRoHnvH9SNc=">
<div class="g1of4">
  <div class="teamChangeBox">
    <h2 class="teamBoxHeading">EDIT YOUR PROJECT</h2>

    <p>
    <strong>Share your work to inspire others</strong>.
    </p>

    <p>
    Review your project to make it easily searchable by defining a short title, a clear
    description and a link pointing to your project description.
    </p>

  </div>
</div>
<div class="g3of4">
  <div class="teamChangeBox teamPaddedBox">


  <h2 class="teamBoxHeading formBox">TITLE</h2>
  <input class="md5 semivisibleInput formInputBox" type="text" id="team_email" name="team_email" placeholder="Project title" value="" autocomplete="off">

  <h2 class="teamBoxHeading formBox">DESCRIPTION</h2>
  <textarea style="height:100px;" class="md5 semivisibleInput formInputBox" type="text" id="team_email" name="team_email" placeholder="Project description" value="" autocomplete="off"></textarea>

  <h2 class="teamBoxHeading formBox">PROJECT LINK (BLOG, GITHUB, ETC.)</h2>
  <input class="md5 semivisibleInput formInputBox" type="text" id="team_email" name="team_email" placeholder="http://github.com/lelylan/lelylan-arduino-led" value="" autocomplete="off">

  <h2 class="teamBoxHeading formBox">TAGS (comma separated)</h2>
  <input class="md5 semivisibleInput formInputBox" type="text" id="team_email" name="team_email" placeholder="hardware,arduino,thermostat" value="" autocomplete="off">

  <p class="grids flatButtonLine">
    <button class="flatButton flatGreen" type="submit">Create new project</button>
  </p>

  </div>
</div>
</form>

</div>
